*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 94px;
    background-color: #000;
    padding: 12px 100px;
}
header img{
    width: 70px;
    height: 70px;
    float: left;  
    margin-right: 168px; 
}

header nav li{
    float: left;
    margin: 20px;
    font-size: 18px;
    line-height: 20px;
    
}
header li a {
    color: #ffffff;
}
main h2,h3{
    padding: 44px 0px 0px 142px;
    font-size: 24px;
}
main a{
    color: #000000;
}
main article{
    width: 300px;
    height: 270px;
    margin: 50px 138px 29px 109px; 
    position: relative;  
    float: left;
}
main section{
    width: 100%;
    height: 244px;
    border:solid 1px;  
    
}
section .img{
    background-image: url(../img/sound.png);
    background-size: 25%;
    width: 298px;
    height: 65px;
    background-repeat: repeat-x;
    margin-top: 56px;
    
}
section .like{
    background-image: url(../img/like.png);
    background-size: 100%;
    width: 50px;
    height: 50px;
    margin: -3px 0px 10px 250px;
    position: absolute;
}
section h2{
    display: inline-block;
    padding: 23px 0px 14px 12px;
}
section p{
    padding-left: 12px;    
}
p::after{
    content: "...";
}
div{
    float: left;
}
.fb,.insta{
    width: 50px;
    height: 50px;
    background-size: 100%;
    float: unset;
    background-repeat: no-repeat;   
}
.social{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 214px;
    right: 0; 
   
}    

.fb a,.insta a{
    display: block;
    width: 50px;
    height: 50px;
}
.fb{
    background-image: url(../img/fb.png);
}
.insta{
    background-image: url(../img/instagram.png);
}
.latest{
    padding-bottom: 100px;
}
/* footer{
    background-color: #000000;
    width: 100%;
    height: 354px;
    background-size: cover;
    float: left;
    
} */

/* .footer {
    background-image: url(../img/music-note.png);
    width: 150px;
    height:150px ;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

footer{
    padding-left: 645px;
    padding-right: 645px;
    padding-top: 28px;
    padding-bottom: 26px;
} */


/* == meore gverdi== */


